body{
    background:url(../images/bkg.png);
    color:#e1e2b6;
    font-family: 'Eczar', serif;
}

.game{
    max-width: 100%;
    border: 3px solid;
    outline: 2px solid #000;
    margin: 20px;
    align-items: center;
}

h1{
    font-weight: 700;
    margin: auto;
    text-align:center;
    -webkit-text-stroke: 1.5px #000;
}

p{
    text-align:center;
    font-size: 1.5em;
}

.header-img{
    width:100%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top:5px;
    margin-bottom:10px;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid;
    outline: 1px solid #000;
    padding: 0;
}

#player{
    height: 76px;
    image-rendering: pixelated;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    filter: hue-rotate(20deg);
}

#enemy{
    transform: scaleX(-1);
    height: 100px;
    filter: FlipH;
    image-rendering: pixelated;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 36px;
}
#auraText{
    position:relative;
    margin-top:30px;
    display:block;
    color: rgb(60, 60, 255);
    right: 50px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #e1e2b6;
    font-weight: 700;
}

#playerText{
    position:relative;
    margin-top:30px;
    display:block;
    left: 175px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #e1e2b6;
    font-weight: 700;
}

#enemyText{
    position:relative;
    margin-top:60px;
    display:block;
    color: rgb(255, 60, 60);
    right: 175px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #e1e2b6;
    font-weight: 700;
}

#clickMe{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.desc{
    font-size:1em;
}

#message{
    font-size: 10em;
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    z-index: 1;
}